<div class="backdrop"></div>

<div class="tpm-modal width-800">

    <div class="tpm-title">
        <span>Оплата заказа №{{task.id}}</span>
    </div>
    <div class="tpm-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="tpm-method">
            <span>Выберите способ оплаты:</span>
            <div class="tpm-method-radio">
                <div *ngFor="let method of methods">
                    <label for="method_{{method.id}}">
                        <input id="method_{{method.id}}" [value]='method.id' type="radio" formControlName="methodId">
                        {{method.name}}
                    </label>
                </div>
            </div>
            <table>
                <tr>
                    <th class="tpm-th">Сумма к оплате:</th>
                    <td class="tpm-td">
                        <input type="text" class="tpm-input-text" formControlName="amount" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="tpm-td"></td>
                    <td class="tpm-td">
                        <button class="tpm-btn" type="submit" [disabled]="submitted">Отправить</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>



