.nr-table {
  margin-top: 20px;
}

.nr-title {
  font-style: italic;
  font-family:inherit;
  font-size: 15px;
}

.nr-textarea {
  padding-left: 3px;
  min-width: 450px;
  min-height: 80px;
  border: solid 1px #656565;
  background-color: rgba(234, 234, 234, 0.74);
  font-size: 13px;
}

.nr-btn {
  border: solid 1px #868686;
  min-width: 90px;
  min-height: 22px;
  border-radius: 3px;
  background-image: linear-gradient(to top, #585858, #888888);
  color: white;
}
