<p class="content-title">Регистрация</p>
<hr>

<form [formGroup]="form" (ngSubmit)="submit()">
    <table class="rp-table">

        <tr>
            <th class="rp-th padding">Логин:</th>
            <td class="padding">
                <input type="text" class="rp-input" formControlName="login">
                <div *ngIf="form.get('login').invalid && form.get('login').touched">
                    <span *ngIf="form.get('login').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                    <span *ngIf="form.get('login').errors.minlength" class="validation">
                        Логин должен состоять минимум из {{form.get('login').errors.minlength.requiredLength}} символов
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th class="rp-th padding">Пароль:</th>
            <td class="padding">
                <input type="password" class="rp-input" formControlName="password">
                <div *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span *ngIf="form.get('password').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                    <span *ngIf="form.get('password').errors.minlength" class="validation">
                        Пароль должен состоять минимум из {{form.get('password').errors.minlength.requiredLength}} символов
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th class="rp-th padding">Пароль еще раз:</th>
            <td class="padding">
                <input type="password" class="rp-input" formControlName="confirmPassword">
                <div *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched">
                    <span *ngIf="form.get('confirmPassword').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                    <span *ngIf="form.get('confirmPassword').errors.notMatching" class="validation">
                        Пароль не совпадает с ранее введенным
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th class="rp-th padding">E-mail:</th>
            <td class="padding">
                <input type="email" class="rp-input" formControlName="email">
                <div *ngIf="form.get('email').invalid && form.get('email').touched">
                    <span *ngIf="form.get('email').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                    <span *ngIf="form.get('email').errors.email" class="validation">
                        Неверный формат email
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th class="rp-th padding"></th>
            <td class="padding">
                <button type="submit" class="rp-btn" [disabled]="submitted">Отправить</button>
            </td>
        </tr>
    </table>
</form>
