.rp-table {
    border: none;
    border-collapse: collapse;
}

.rp-th {
    text-align: right;
    vertical-align: top;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
}

.padding {
    padding: 13px 10px 13px 10px;
}

.rp-input {
    padding-left: 3px;
    min-width: 175px;
    min-height: 20px;
    border: solid 1px #656565;
    background-color: rgba(234, 234, 234, 0.74);
    font-size: 13px;

    &.ng-invalid.ng-touched {
        border-radius: 2px;
        border: 1px solid #f81818;
    }
}

.rp-btn {
    border: solid 1px #868686;
    min-width: 90px;
    min-height: 22px;
    border-radius: 3px;
    background-image: linear-gradient(to top, #585858, #888888);
    color: white;
}

.validation {
    font-size: 12px;
    color: #ff0303;
    font-style: italic;
}
