.lp-table {
    display: inline-block;
    padding-right: 80px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    border: 0;
    border-collapse: collapse;
    font-size: 12px;
    letter-spacing: 1px;
}

.lp-tr {
    color: #484848;
    font-size: 13px;
    font-family: sans-serif;
}

.lp-input {
    width: 80px;
    height: 8px;
    padding: 5px 10px 5px 10px;
    margin: 0 3px 0 3px;
    border: 1px solid #868686;
    border-radius: 2px;
    font-size: 11px;
    font-family: Tahoma;
    background-color: #d9d9d9;
    color: #747474;
    vertical-align: top;

    &.ng-invalid.ng-touched {
        border-radius: 2px;
        border: 1px solid #f81818;
    }

    &:focus {
        color: #000000;
    }
}

.lp-btn {
    border-radius: 10px;
    border: 2px solid #7e7e7e;
    height: 21px;
    width: 21px;
    background: url('~src/content/image/enter.png');
    background-size: cover;
}

.lp-a {
    font-weight: bold;
    color: #272727;
}

.border {
    border-right-style: solid;
    border-right-width: 1px;
    margin-left: 6px;
    margin-right: 6px;
}

.padding-left {
    padding-left: 30px;
}
