<div *ngIf="!isAuthenticated(); else welcome">
    <form>
        <table class="lp-table">
            <tr class="lp-tr">
                <td>
                    Вы вошли на сайт как <span class="italic bold">Гость.</span> &nbsp;Войти:
                </td>

                <td>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <input type="text"
                               class="lp-input"
                               id="login"
                               placeholder="Логин:"
                               formControlName="login">
                        <input type="password"
                               class="lp-input"
                               id="password"
                               placeholder="Пароль:"
                               formControlName="password">
                        <button type="submit"
                                class="lp-btn"
                                [disabled]="submitted"
                                (clickOutside)="markAllAsUntouched()"></button>
                    </form>
                </td>

                <td class="padding-left">
                    <a class="lp-a italic" [routerLink]="['/registration']">Регистрация</a>
                    <span class="border"></span>
                    <a class="lp-a italic" [routerLink]="['/password-recovery']">Забыли пароль?</a>
                </td>

            </tr>
        </table>
    </form>
</div>

<ng-template #welcome>
    <table class="lp-table">
        <tr class="lp-tr">
            <td>
                <a class="lp-a" href="">{{authService.Login}}</a>
                <span class="border"></span>
                <a class="lp-a" [routerLink]="['/']" (click)="logout()">Выйти</a>
            </td>
        </tr>
    </table>
</ng-template>
