.header-right {
    height: 100%;
    width: 400px;
    float: right;
    background: url('~src/content/image/learn.png') no-repeat right;
}

.header-left {
    height: 100%;
    width: 900px;
    margin-left: 100px;
}

.header-left-empty {
    height: 30%;
}

.header-left-logo {
    height: 40%;
    background: url('~src/content/image/header.png') no-repeat;
    background-size: contain;
}

.header-left-title {
    height: 30%;
    margin: 0;
    font-style: italic;
    color: rgb(87, 87, 87);
    font-family: serif;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #6a6a6a;
}
