html {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: Arial;
    margin: 0 0 70px;   // Для footer
    min-width: 1300px;
}

.navbar {
    float: left;
    position: fixed;
    height: 100%;
    width: 130px;
    background: #424242;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-body {
    margin-left: 130px;
}

.header {
    height: 160px;
    border: 0;
    background: linear-gradient(to bottom, #f1fdf1 0%, #ffffff 80%);
}

.login-panel {
    min-height: 30px;
    text-align: right;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.62), #9d9b9b 70%) 100;
    background: linear-gradient(-170deg, rgb(111, 111, 111) 0%, #ffffff 70%);
}

.content {
    padding: 10px 180px 0 80px;
    background-color: #ffffff;
    text-indent: 50px;
    line-height: 1.5;
}

.footer {
    height: 50px;
    position: absolute;
    margin-left: 130px;
    width: calc(100% - 130px);
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #f1fdf1 0%, #ffffff 100%);
    text-indent: 50px;
}

.content-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 20px;
}

p {
    margin-top: 0.0em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
}

h4 {
    margin-bottom: 0; /* Отступ снизу */
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.display-none {
    display:none;
}

.font-size-12 {
    font-size: 12px;
}
