.cp-table {
    border: none;
    border-collapse: collapse;
}

.cp-tr {
    border-bottom: solid 1px #c1c1c1;
}

.cp-td {
    padding: 13px 20px 13px 10px;
    font-style: italic;
    font-size: 17px;
    color: #5b5f83;
}

.cp-th {
    padding: 13px 20px 13px 10px;
    text-align: center;
}

.cp-img {
    height: 45px;
}

.cp-a {
    font-weight: bold;
    text-decoration: none;
}

.color-blue {
    color:#03c5ff;
}

.color-dark-blue {
    color:#5e84c1;
}

.color-green {
    color:#1e390a;
}
