<p class="content-title">Наши контакты!</p>
<hr>

<p>Для связи с нами используйте следующую контактную информацию:</p>

<table class="cp-table">
    <tr class="cp-tr">
        <th class="cp-th">
            <img class="cp-img" src="content/image/vk.jpg">
        </th>
        <td class="cp-td">
            <span>Наша группа Вконтакте: </span>
            <br>
            <a class="cp-a color-dark-blue" href="http://vk.com/reshaem_na_5" target="_blank">
                <img src="content/image/icon/vk_icon.png">
                vk.com/reshaem_na_5
            </a>
        </td>
    </tr>

    <tr class="cp-tr">
        <th class="cp-th">
            <img class="cp-img" src="content/image/skype.jpg">
        </th>
        <td class="cp-td">
            <span>Наш Skype:</span>
            <br>
            <a class="cp-a color-blue" href="skype:zz-math?chat">
                <img src="content/image/icon/skype_icon.png">
                zz-math
            </a>
        </td>
    </tr>

    <tr class="cp-tr">
        <th class="cp-th">
            <img class="cp-img" src="content/image/wh.jpg">
        </th>
        <td class="cp-td">
            <span>Наш WhatsApp:</span>
            <br>
            <img src="content/image/icon/whatsapp_icon.png">
            <span class="color-green"><b>+7(909) 394-32-31</b></span>
        </td>
    </tr>
</table>
