<p class="content-title">Отзывы!</p>
<hr>

<table class="rp-table">
    <tr class="rp-tr" *ngFor="let review of reviews">
        <td class="rp-td">
            <span class="rp-login">{{review.userLogin}}</span>
            <span class="rp-date">{{review.created | date: 'dd.MM.yyyy'}}</span>
            <br>
            <p class="rp-text">{{review.text}}</p>
        </td>
    </tr>
</table>

<div *ngIf="isAuthenticated(); else noAccess">
    <app-new-review
        (onSaveReview)="loadReviews()"
    ></app-new-review>
</div>

<ng-template #noAccess>
    <p class="rp-no-access">
        Оставлять отзывы могут только <a [routerLink]="['/registration']">зарегистрированные</a> пользователи.
    </p>
</ng-template>
