.rp-table {
  border-spacing: 0 0;
  width: 100%;
  background: #eaeaea;
}

.rp-tr:nth-child(2n) {
  background: rgba(247,245,242,0.65);
  height: 30px;
}

.rp-td {
  border: 0;
  padding: 10px 15px 10px 15px;
}

.rp-login {
  font-weight: 700;
  font-size: 17px;
  font-family:monospace;
  text-decoration: underline;
}

.rp-date {
  font-size: 13px;
  font-family:monospace;
  color:#5a5a5a;
  padding-left: 7px;
}

.rp-text {
  text-align: justify;
  font-style: italic;
  font-family:inherit;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.rp-no-access {
  margin-top: 20px;
  font-style:italic;
  font-size:14px;
  color:#b11e18;
}
