.alert-success {
    background: #cfffca;
}

.alert-danger {
    background: #ffceca;
}

.alert-info {
    background: #caeeff;
}

.alert-warning {
    background: #fff4ca;
}

.alert {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
