<div class="backdrop"></div>

<div class="tpm-modal width-500">

    <div class="tpm-title">
        <span>Загрузить решение</span>
    </div>
    <div class="tpm-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <table>
            <tr>
                <th class="tpm-th padding-top-13 vertical-align-top">Решение:</th>
                <td class="tpm-td" formGroupName="files">
                    <table *ngIf="files.length > 0">
                        <tr *ngFor="let file  of files; let i = index;">
                            <td class="tpm-attached-file-td">
                                <span *ngIf="file">файл {{i + 1}}: {{file.name}} ({{file.size}}кб)</span>
                            </td>
                            <td class="tpm-attached-file-td">
                                <button type="button" (click)="cleanFile(file)">x</button>
                            </td>
                        </tr>
                    </table>

                    <label for="files" class="tpm-attached-file-label">+ Добавить файл</label>
                    <input type="file" class="display-none" id="files" (change)="setFile($event)"/>
                </td>
            </tr>

            <tr>
                <td class="tpm-td"></td>
                <td class="tpm-td">
                    <button class="tpm-btn" type="submit" [disabled]="submitted">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
