<p class="content-title">Список задач</p>
<hr>

<table class="tp-filter-table">
    <tr>
        <td class="tp-filter-td tp-filter-td-title ">Статус:</td>
        <td class="tp-filter-td tp-filter-td-border">
            <select class="tp-filter-select" [(ngModel)]="statusIdFilter" (change)="applyFilter()">
                <option class="italic" [ngValue]="null">Все</option>
                <option *ngFor="let status of statuses" [ngValue]="status.id">{{status.name}}</option>
            </select>
        </td>
        <td class="tp-filter-td tp-filter-td-title">Раздел:</td>
        <td class="tp-filter-td tp-filter-td-border">
            <select class="tp-filter-select" [(ngModel)]="subjectIdFilter" (change)="applyFilter()">
                <option class="italic" [ngValue]="null">Все</option>
                <option *ngFor="let subject of subjects" [ngValue]="subject.id">{{subject.name}}</option>
            </select>
        </td>
        <td class="tp-filter-td">
            <button type="button" class="tp-filter-btn" (click)="clearFilter()">Сбросить фильтры</button>
        </td>
    </tr>
</table>

<table class="tp-tasks-table">
    <tr class="tp-tasks-tr">
        <th class="tp-tasks-th"> № заказа</th>
        <th class="tp-tasks-th"> Заказчик</th>
        <th class="tp-tasks-th"> Статус</th>
        <th class="tp-tasks-th"> Стоимость, руб</th>
        <th class="tp-tasks-th"> Срок</th>
        <th class="tp-tasks-th"> Раздел</th>
    </tr>
    <tr class="tp-tasks-tr" *ngFor="let task of tasks, index as i" (click)="showTaskDetailModal(task)">
        <td class="tp-tasks-td">{{task.id}}</td>
        <td class="tp-tasks-td">{{task.userLogin}}</td>
        <td class="tp-tasks-td">{{task.status.name}}</td>
        <td class="tp-tasks-td" [ngSwitch]="task.status.id">
            <ng-template ngSwitchCase="1"><span class="italic font-size-12">На оценке</span></ng-template>
            <ng-template ngSwitchCase="5">-</ng-template>
            <ng-template ngSwitchDefault>{{task.cost}}</ng-template>
        </td>
        <td class="tp-tasks-td">{{task.deadline | date: 'medium'}}</td>
        <td class="tp-tasks-td">{{task.subject.name}}</td>
    </tr>
</table>
<div *ngIf="tasks.length > 0">
    <ngb-pagination [collectionSize]="totalItems"
                    [(page)]="page"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)"
    ></ngb-pagination>
</div>
