<div class="backdrop"></div>

<div class="tpm-modal width-500">

    <div class="tpm-title">
        <span>Оценка стоимости заказа</span>
    </div>
    <div class="tpm-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <table>
            <tr>
                <th class="tpm-th">Стоимость:</th>
                <td class="tpm-td">
                    <input type="text" class="tpm-input-text" formControlName="cost">
                </td>
            </tr>

            <tr>
                <td class="tpm-td"></td>
                <td class="tpm-td">
                    <button class="tpm-btn" type="submit" [disabled]="submitted">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
