<div class="backdrop"></div>

<div class="tpm-modal width-1000">
    <div class="tpm-header">
        <div class="tpm-title">
            <span>Заказ № {{task.id}} ({{task.userLogin}})</span>
        </div>
        <ng-container *hasAnyRole="['ROLE_EMPLOYEE', 'ROLE_ADMIN']">
            <div class="tpm-header-block" *ngIf="task.status.id === 1">
                <button class="tpm-btn" type="button" (click)="showTaskEditCostModal()">Оценить заказ</button>
            </div>
        </ng-container>
        <ng-container *hasAnyRole="['ROLE_EMPLOYEE', 'ROLE_ADMIN']">
            <div class="tpm-header-block" *ngIf="task.status.id === 1 || task.status.id === 2">
                <button class="tpm-btn" type="button" (click)="showTaskEditRefuseModal()">Отказать в решении</button>
            </div>
        </ng-container>
        <ng-container *hasAnyRole="['ROLE_USER']">
            <div class="tpm-header-block" *ngIf="isCurrentUser() && task.status.id === 2">
                <button class="tpm-btn" type="button" (click)="showTaskEditPaymentModal()">Оплатить заказ</button>
            </div>
        </ng-container>
        <ng-container *hasAnyRole="['ROLE_EMPLOYEE', 'ROLE_ADMIN']">
            <div class="tpm-header-block" *ngIf="task.status.id === 3">
                <button class="tpm-btn" type="button" (click)="showTaskEditSolveModal()">Загрузить решение</button>
            </div>
        </ng-container>
        <ng-container *hasAnyRole="['ROLE_ADMIN']">
            <div class="tpm-header-block">
                <button class="tpm-btn" type="button" (click)="deleteTask()">Удалить заказ</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="tpm-close">
                <button type="button" (click)="close()">&times;</button>
            </div>
        </ng-container>
    </div>
    <hr>
    <div class="my-body">
        <table class="tpm-td-table">
            <tr>
                <th class="tpm-td-th">Статус:</th>
                <td class="tpm-td-td">{{task.status.name}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Стоимость:</th>
                <td class="tpm-td-td" [ngSwitch]="task.status.id">
                    <ng-template ngSwitchCase="1"><span class="italic">На оценке</span></ng-template>
                    <ng-template ngSwitchCase="5">-</ng-template>
                    <ng-template ngSwitchDefault>{{task.cost}}</ng-template>
                </td>
            </tr>

            <tr *ngIf="hasAnyRoleOrCurrentUser(['ROLE_EMPLOYEE', 'ROLE_ADMIN'])">
                <th class="tpm-td-th">Предварительная стоимость:</th>
                <td class="tpm-td-td">{{task.preparedCost}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Раздел:</th>
                <td class="tpm-td-td">{{task.subject.name}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th vertical-align-top">Условия задач:</th>
                <td class="tpm-td-td">
                    <div *ngFor="let attachedFile of task.attachedFiles" class="margin-bottom-7">
                        <ng-container *ngIf="attachedFile.type === 'task'">
                            <a (click)="download(attachedFile)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="tpm-td-th">Дата оформления заказа:</th>
                <td class="tpm-td-td">{{task.created | date: 'medium'}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Срок решения:</th>
                <td class="tpm-td-td">{{task.deadline | date: 'medium'}}</td>
            </tr>

            <tr *ngIf="task.comment">
                <th class="tpm-td-th">Комментарий:</th>
                <td class="tpm-td-td">{{task.comment}}</td>
            </tr>

            <ng-container *ngIf="hasAnyRoleOrCurrentUser(['ROLE_EMPLOYEE', 'ROLE_ADMIN'])">
                <tr *ngIf="task.contact">
                    <th class="tpm-td-th">Контактная информация:</th>
                    <td class="tpm-td-td">{{task.contact}}</td>
                </tr>
            </ng-container>

            <tr *ngIf="task.status.id === 4">
                <th class="tpm-td-th vertical-align-top">Решение:</th>
                <td class="tpm-td-td">
                    <div class="margin-bottom-7" *ngFor="let attachedFile of task.attachedFiles" >
                        <ng-container *ngIf="attachedFile.type === 'solve'">
                            <a (click)="download(attachedFile)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>

            <tr *ngIf="task.cause">
                <th class="tpm-td-th">Причина отказа:</th>
                <td class="tpm-td-td">{{task.cause}}</td>
            </tr>
        </table>
    </div>
</div>

<!--
    <button class="btn" (click)="close.emit()">Close</button>-->
