<p class="content-title">
    Правила оформления заказов!
</p>

<hr>

<p>
    Для оформления заказа и получения решения Вам необходимо выполнить следующие действия:
</p>

<ol class="rp-ol">
    <li class="rp-li">
        <a [routerLink]="['/registration']">Зарегистрироваться</a> и авторизоваться на нашем сайте.
    </li>

    <li class="rp-li">
        Добавить заказ с помощью <a [routerLink]="['/new-task']">формы оформления заказа</a>. Ваш заказ будет добавлен в
        <a href="" class="rules_font">список задач</a>.
    </li>

    <li class="rp-li">
        В дальнейшем при работе с заказом необходимо ориентироваться на его <b>статусы</b>:
        <table class="rp-table">
            <tr>
                <th class="rp-th">
                    Новый
                </th>
                <td class="rp-td">
                    - заказ был добавлен в систему. Необходимо ожидать оценки стоимости заказа администрацией системы;
                </td>
            </tr>
            <tr>
                <th class="rp-th">
                    Просмотрен
                </th>
                <td class="rp-td">
                     - заказ был оценен администрацией системы. Необходимо оплатитьь заказ с помощью
                    <a [routerLink]="['/payment']">формы оплаты</a>, чтобы мы начали решать задачи.
                </td>
            </tr>
            <tr>
                <th class="rp-th">
                    Оплачен
                </th>
                <td class="rp-td">
                    - Вы оплатили заказ, мы решаем задачи, необходимо ожидать;
                </td>
            </tr>
            <tr>
                <th class="rp-th">
                    Выполнен
                </th>
                <td class="rp-td">
                    - заказ выполнен. Решение можно скачать при клике на Ваш заказ в <a href="" class="rules_font">списке задач</a>;
                </td>
            </tr>
            <tr>
                <th class="rp-th">
                    Отказано
                </th>
                <td class="rp-td">
                    - если мы просмотрели Ваш новый заказ и по каким-либо причинам не готовы взяться за выполнение заказа. Причина отказа будет указана;
                </td>
            </tr>
        </table>
    </li>
</ol>
