.rp-ol {
  color:#00094d;
  font-size:15px;
}

.rp-li {
    margin-bottom: 20px;
    text-indent: 0;
}

.rp-table {
    margin-left: 20px;
    margin-top: 10px;
}

.rp-th {
    font-style: italic;
    font-size: 15px;
    text-align: right;
}

.rp-td {
    padding: 10px;
}
