
<p class="content-title">Добро пожаловать!</p>
<hr>

<p>
  Вы находитесь на сайте, который создан <strong>для оказания помощи</strong> школьникам и студентам <strong>в решении задач по математике и программирвоанию</strong>. Наши специалисты решают широкий круг математических задач по школьным и университетским дисциплинам.
</p>

<p>
  <a [routerLink]="['/tasks']">
    <img src="/content/image/tasks.png">
  </a>
  <a [routerLink]="['/rules']">
    <img src="/content/image/rules.png">
  </a>
  <a [routerLink]="['/new-task']">
    <img src="/content/image/new-task.png">
  </a>
</p>

<h4>Наши услуги</h4>
<p>
  Мы предлагаем услуги в решении задач по:
</p>
<ul class="hp-ul">
  <li>математическому анализу;</li>
  <li>линейной алгебре;</li>
  <li>аналитической геометрии;</li>
  <li>дифференциальным уравнениям;</li>
  <li>теории вероятностей;</li>
  <li>численным методам;</li>
  <li>теоретической механике;</li>
  <li>математической физике;</li>
  <li>теории функций комплексного переменного;</li>
  <li>теории устойчивости.</li>
</ul>

<p>
  Предлагаем услуги в программировании на:
</p>
<ul class="hp-ul">
  <li>C++;</li>
  <li>C#.</li>
</ul>


<h4>Наши достоинства</h4>
<p>
  Разрабатывая нашу систему, мы старались сделать весь процесс, начиная с оформления заказа и заканчивая получением решения, <strong> максимально простым и удобным</strong>.
</p>

<h4>Наши цены</h4>
<p>
  Cтоимость заказов определяется строго в индивидуальном порядке и зависит от сроков выполнения работ, сложности задач и объемов решения.
</p>


<h4>Наши гарантии:</h4>
<p>
  Мы гарантируем выполнение взятых нами обязательств по решению задач в соответствии с требованиеми по срокам и формлению; <br>
  мы дорожим своей репутацией. Вы можете оставлять свое мнение о нас в разделе <a href="">отзывы</a> или в нашей <a href="" target="_blank"> группе вконтакте;</a><br>
  мы гарантируем переделать работу или вернуть деньги, если задачи решены неверно (но это маловероятно!); <br>
  на сайте действует простая и удобная схема оформления заказов и получения решения. <br>
</p>

<h4>Наша команда:</h4>
<p>
  Квалифицированные специалисты с большим опытом предоставления услуг в решении задач по высшей и школьной математике.
</p>
