<div class="backdrop"></div>

<div class="tpm-modal width-500">

    <div class="tpm-title">
        <span>Отказать в решении задач</span>
    </div>
    <div class="tpm-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <table>
            <tr>
                <th class="tpm-th">Причина отказа:</th>
                <td class="tpm-td">
                    <textarea class="tpm-input-textarea" formControlName="cause"></textarea>
                </td>
            </tr>

            <tr>
                <td class="tpm-td"></td>
                <td>
                    <button class="tpm-btn" type="submit" [disabled]="submitted">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
